<mat-card>
	<mat-card-header>
		<h5>Error Group Details</h5>
	</mat-card-header>
	<mat-card-content>
		<form>
			<div class="header-columns">
				<div class="column">
					<mat-card>
						<mat-card-content>
							<div style="display: flex; align-items: baseline; gap: 8px; min-height: 36px;">
								<mat-form-field>
									<mat-label>Ticket Number:</mat-label>
									<input type="text" matInput [value]="errorGroupDetails.ticketNumber"/>
								</mat-form-field>
								<button mat-button obButton="primary" type="button"
										[disabled]=isCreateButtonDisabled()
										(click)=createTicket()
										style="height: 36px; min-width: 150px">Create Ticket
								</button>
							</div>
							<div style="display: flex; align-items: baseline; gap: 8px; min-height: 36px;">
								<mat-form-field>
									<mat-label>Free Text</mat-label>
									<textarea matInput [value]="errorGroupDetails.freeText"></textarea>
								</mat-form-field>
								<button mat-button obButton="primary" type="button"
										style="height: 36px; min-width: 150px">Save Free Text
								</button>
							</div>
							<mat-form-field>
								<mat-label>Group ID:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.errorGroupId" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Message Type:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.errorEvent" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Source:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.errorPublisher" readonly/>
							</mat-form-field>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="column">
					<mat-card>
						<mat-card-content>
							<mat-form-field>
								<mat-label>Count:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.errorCount" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>First:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.firstErrorAt" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Last:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.latestErrorAt" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Code:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.errorCode" readonly/>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Hashcode Stack Trace:</mat-label>
								<input type="text" matInput [value]="errorGroupDetails.stackTraceHash" readonly/>
							</mat-form-field>
						</mat-card-content>
					</mat-card>

				</div>
			</div>

		</form>
	</mat-card-content>
</mat-card>



