<ob-column-layout [left]="true" [right]="false">
	<div column-left-content class="default-layout" style="height: 100%">
		<form [formGroup]="searchFilterFormGroup">

			<!-- Datum von -->
			<mat-form-field>
				<input matInput formControlName="datePickerFrom" [matDatepicker]="pickerFrom" placeholder="{{'i18n.errorhandling.form.date-from' | translate}}"/>
				<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
				<mat-datepicker #pickerFrom></mat-datepicker>
			</mat-form-field>

			<!-- Datum bis -->
			<mat-form-field>
				<input matInput formControlName="datePickerTo" [matDatepicker]="pickerTo" placeholder="{{'i18n.errorhandling.form.date-to' | translate}}" />
				<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
				<mat-datepicker #pickerTo></mat-datepicker>
			</mat-form-field>

			<!-- EventName-->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.messagetype' | translate}}</mat-label>
				<input type="text"
					   formControlName="eventName"
					   matInput
					   placeholder="{{'i18n.errorhandling.form.messagetype' | translate}}"
					   [matAutocomplete]="auto"/>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let name of filteredEventNames | async" [value]="name">
						{{name}}
					</mat-option>
				</mat-autocomplete>
				<mat-error></mat-error>
				<button *ngIf="eventNameControl.value" matSuffix mat-icon-button (click)="eventNameControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- TraceId -->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.traceid' | translate}}</mat-label>
				<input type="text" formControlName="traceId" matInput placeholder="{{'i18n.errorhandling.form.traceid' | translate}}" (change)="traceIdOrEventIdChanged($event)"/>
				<mat-error></mat-error>
				<button *ngIf="traceIdControl.value" matSuffix mat-icon-button (click)="traceIdControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- EventId -->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.eventid' | translate}}</mat-label>
				<input type="text" formControlName="eventId" matInput placeholder="{{'i18n.errorhandling.form.eventid' | translate}}" (change)="traceIdOrEventIdChanged($event)"/>
				<mat-error></mat-error>
				<button *ngIf="eventIdControl.value" matSuffix mat-icon-button (click)="eventIdControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- Stacktrace -->
			<mat-form-field>
				<mat-label>Stacktrace</mat-label>
				<input type="text" formControlName="stacktrace" matInput placeholder="{{'i18n.errorhandling.form.stacktrace' | translate }}"/>
				<mat-error *ngIf="stacktraceControl.invalid">{{'i18n.errorhandling.form.stacktrace.invalid' | translate}}</mat-error>
				<button *ngIf="stacktraceControl.value" matSuffix mat-icon-button (click)="stacktraceControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- Quelle -->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.source' | translate}}</mat-label>
				<mat-select formControlName="dropDownEventSource">
					<mat-option *ngFor="let dropDownElement of dropDownEventSources" [value]="dropDownElement.value">
						{{dropDownElement.viewValue}}
					</mat-option>
				</mat-select>
				<button *ngIf="dropDownEventSourceControl.value" matSuffix mat-icon-button (click)="dropDownEventSourceControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- Status -->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.status' | translate}}</mat-label>
				<mat-select formControlName="dropDownState">
					<mat-option *ngFor="let state of dropDownState" [value]="state.value">
						{{translateService.get(state.value) |  async}}
					</mat-option>
				</mat-select>
				<button *ngIf="dropDownStateControl.value" matSuffix mat-icon-button (click)="resetStateSection()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- Schliessbegruendung -->
			<mat-form-field *ngIf="dropDownStateControl.value?.startsWith('DELETE')">
				<mat-label>{{'i18n.errorhandling.form.closing-reason' | translate}}</mat-label>
				<input type="text" formControlName="closingReason" matInput placeholder="{{'i18n.errorhandling.form.closing-reason' | translate}}"/>
				<mat-error></mat-error>
				<button *ngIf="closingReasonControl.value" matSuffix mat-icon-button (click)="closingReasonControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- Fehlercode -->
			<mat-form-field>
				<mat-label>{{'i18n.errorhandling.form.errorcode' | translate}}</mat-label>
				<mat-select formControlName="dropDownErrorCode">
					<mat-option *ngFor="let errorCode of dropDownErrorCodes" [value]="errorCode.value">
						{{errorCode.viewValue}}
					</mat-option>
				</mat-select>
				<button *ngIf="dropDownErrorCodeControl.value" matSuffix mat-icon-button (click)="dropDownErrorCodeControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<!-- TicketNumber -->
			<mat-form-field>
				<mat-label>{{'i18n.error.timestamp.ticketNumber' | translate}}</mat-label>
				<input type="text" formControlName="ticketNumber" matInput placeholder="{{'i18n.error.timestamp.ticketNumber' | translate}}" (change)="traceIdOrEventIdChanged($event)"/>
				<mat-error></mat-error>
				<button *ngIf="ticketNumberControl.value" matSuffix mat-icon-button (click)="ticketNumberControl.reset()">
					<mat-icon svgIcon="cancel-circle"></mat-icon>
				</button>
			</mat-form-field>

			<div class="ehs-form-buttons">
				<button mat-button obButton="primary" type="button" (click)="reload()" [disabled]="!!searchFilterFormGroup.invalid || isLoadingResults">
					{{ (hasInput() ? 'i18n.errorhandling.search' : 'i18n.errorhandling.reload') | translate }}
				</button>
				<button mat-button obButton="secondary" type="button" (click)="reset()" [disabled]="isLoadingResults">
					{{ 'i18n.errorhandling.reset' | translate }}
				</button>
			</div>
		</form>
	</div>

	<div column-main-content>
		<div style="position: relative; min-height: 200px;">
				<table mat-table [dataSource]="data" matSort (matSortChange)="announceSortChange($event)" class="ob-table table-sm">
					<caption>Error List</caption>
					<ng-container matColumnDef="selection">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null"
										  [checked]="selection.hasValue() && isAllSelected()"
										  [indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation()"
										  (change)="$event ? selection.toggle(row) : null"
										  [checked]="selection.isSelected(row)">
							</mat-checkbox>
						</td>
					</ng-container>

					<ng-container matColumnDef="timestamp">
						<th mat-header-cell *matHeaderCellDef mat-sort-header="created">{{ 'i18n.error.timestamp' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.timestamp}}</td>
					</ng-container>

					<ng-container matColumnDef="eventName">
						<th mat-header-cell *matHeaderCellDef mat-sort-header="causingEvent.metadata.type.name">{{ 'i18n.errorhandling.form.messagetype' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.eventName}}</td>
					</ng-container>

					<ng-container matColumnDef="errorPublisher">
						<th mat-header-cell *matHeaderCellDef mat-sort-header="errorEventMetadata.publisher.service">{{ 'i18n.error.publisher' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.errorPublisher}}</td>
					</ng-container>

					<ng-container matColumnDef="errorState">
						<th mat-header-cell *matHeaderCellDef mat-sort-header="state">{{ 'i18n.error.state' | translate }}</th>
						<td mat-cell
							*matCellDef="let row">{{'i18n.error.errorstate.' + row.errorState | translate}}</td>
					</ng-container>

					<ng-container matColumnDef="nextResend">
						<th mat-header-cell *matHeaderCellDef>{{ 'i18n.error.next-automated-resend' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.nextResendTimestamp}}</td>
					</ng-container>

					<ng-container matColumnDef="errorMessage">
						<th mat-header-cell *matHeaderCellDef mat-sort-header="errorEventData.message">{{ 'i18n.error.errormessage' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.errorMessage | slice:0:50}}{{row.errorMessage.length > 50 ? '...' : ''}}</td>
					</ng-container>

					<ng-container matColumnDef="errorCode">
						<th mat-header-cell *matHeaderCellDef  mat-sort-header="errorEventData.code">{{ 'i18n.error.errorcode' | translate }}</th>
						<td mat-cell *matCellDef="let row">{{row.errorCode | slice:0:50}}{{row.errorCode.length > 50 ? '...' : ''}}</td>
					</ng-container>

					<ng-container matColumnDef="errorDetails">
						<th mat-header-cell *matHeaderCellDef id="actions-column">
							<div class="actions-wrapper">
								<button
									(click)="resendSelected()"
									type="button"
									[disabled]="isActionDisabled('Retry')"
									mat-icon-button
									obButton="secondary"
									matTooltip="{{'i18n.errorhandling.list.multi-resend' | translate}}">
									<mat-icon svgIcon="repeat"></mat-icon>
								</button>
								<button
									(click)="deleteSelected()"
									type="button"
									[disabled]="isActionDisabled('Delete')"
									mat-icon-button
									obButton="secondary"
									matTooltip="{{'i18n.errorhandling.list.multi-delete' | translate}}">
									<mat-icon svgIcon="trash"></mat-icon>
								</button>
							</div>
						</th>
						<td mat-cell *matCellDef="let row" id="actions-row">
							<div class="actions-wrapper">
								<a mat-icon-button obButton="secondary"
								   [routerLink]="['/error-details', row.id]"
								   [matTooltip]="'i18n.errorhandling.details' | translate">
									<mat-icon svgIcon="eye"></mat-icon>
								</a>
								<a mat-icon-button id="log-deep-link-btn" obButton="secondary"
                                   *ngIf="row.originalTraceIdString"
                                   [href]="logDeepLink" target="_blank" (click)="openDeepLink(row.originalTraceIdString)"
                                   [matTooltip]="'i18n.errorhandling.show-log' | translate">
									<mat-icon svgIcon="external"></mat-icon>
								</a>
								<button mat-icon-button color="primary" (click)="resendRow(row)" [disabled]="!row.canRetry" obButton="secondary"
										[matTooltip]="'i18n.errorhandling.resend' | translate">
									<mat-icon svgIcon="repeat"></mat-icon>
								</button>
								<button mat-icon-button color="primary" (click)="deleteRow(row)" [disabled]="!row.canDelete" obButton="secondary"
										[matTooltip]="'i18n.errorhandling.delete' | translate">
									<mat-icon svgIcon="trash"></mat-icon>
								</button>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
				</table>
			</div>
			<div class="paginator-container">
				<mat-paginator [length]="resultsLength"
							   [pageSize]="20"
							   [pageSizeOptions]="[5,10,20,50,100]"
							   (page)="announcePaginatorChange($event)"/>
			</div>
		</div>
</ob-column-layout>
