<ob-column-layout [left]="true" [right]="false">

	<ng-container column-left-content>
		<app-error-group-filter (searchClicked)="onSearch($event)"></app-error-group-filter>
	</ng-container>

	<ng-container column-main-content>
		<div style="position: relative; min-height: 200px;">
			<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
			<table [dataSource]="dataSource" class="ob-table table-sm" mat-table matSort (matSortChange)="announceSortChange($event)">
				<caption>Error Group List</caption>

				<!-- Error Count -->
				<ng-container matColumnDef="anzahl">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="errorCount">{{ 'i18n.error.errorCount' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.errorCount }}</td>
				</ng-container>

				<!-- MessageType-->
				<ng-container matColumnDef="messageType">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="errorEvent">{{ 'i18n.errorhandling.form.messagetype' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.errorEvent }}</td>
				</ng-container>

				<!-- Error Publisher -->
				<ng-container matColumnDef="quelle">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="errorPublisher">{{ 'i18n.error.publisher' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.errorPublisher }}</td>
				</ng-container>

				<!-- Error Code -->
				<ng-container matColumnDef="fehlerCode">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="errorCode">{{ 'i18n.error.errorcode' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.errorCode }}</td>
				</ng-container>

				<!-- Stack Trace Hash -->
				<ng-container matColumnDef="stackTraceHash">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="stackTraceHash">Stack Trace Hash
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.stackTraceHash }}</td>
				</ng-container>

				<!-- First Occurrence -->
				<ng-container matColumnDef="erstAuftreten">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="firstErrorAt">{{ 'i18n.error.createdAt' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.firstErrorAt }}</td>
				</ng-container>

				<!-- Latest Occurrence -->
				<ng-container matColumnDef="letztesAuftreten">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="latestErrorAt">{{ 'i18n.error.modifiedAt' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>{{ row.latestErrorAt }}</td>
				</ng-container>

				<!-- Ticket Number -->
				<ng-container class="oblique-input-container" matColumnDef="jira">
					<th *matHeaderCellDef
						mat-header-cell mat-sort-header="ticketNumber">{{ 'i18n.jiraTicket' | translate }}
					</th>
					<td *matCellDef="let row" mat-cell>
						<!-- user is allowed to edit-->
						<div *ngIf="this.hasEditRole">
							<ng-container *ngIf="editingElement !== row; else editMode">
								<ng-container *ngIf="row.ticketNumber; else emptyState">
									<div class="ticket-number-container">
										<a *ngIf="row.ticketNumber"
										   [href]="environment.TICKETING_SYSTEM_URL.replace('{ticketNumber}', row.ticketNumber)"
										   [matTooltip]="'i18n.error.timestamp.ticketNumber' | translate"
										   class="ticket-number-link"
										   id="jira-ticket-link-btn"
										   mat-button
										   obButton="primary"
										   target="_blank">
											{{ row.ticketNumber }}
											<mat-icon class="arrow-icon">arrow_forward</mat-icon>
										</a>
										<mat-icon (click)="startEdit(row)" class="obicon"
												  svgIcon="pen"></mat-icon>
									</div>
								</ng-container>
								<ng-template #emptyState>
									<input #inputRef
										   (keydown.enter)="updateTicketNumber(row.errorGroupId, inputRef.value)"
										   *ngIf="!row.ticketNumber"
										   class="oblique-input"
										   matInput
										   placeholder="{{ 'i18n.error.timestamp.ticketNumber' | translate }}"
										   type="text">
								</ng-template>
							</ng-container>
							<ng-template #editMode>
								<input #ticketNumberInput
									   (blur)="cancelEdit()"
									   (keydown.enter)="updateTicketNumber(row.errorGroupId, ticketNumberInput.value)"
									   (keydown.escape)="cancelEdit()"
									   [value]="row.ticketNumber">
							</ng-template>
						</div>
						<!-- user is NOT allowed to edit-->
						<ng-container *ngIf="!this.hasEditRole">
							<div class="ticket-number-container">
								<a *ngIf="row.ticketNumber"
								   [href]="environment.TICKETING_SYSTEM_URL.replace('{ticketNumber}', row.ticketNumber)"
								   [matTooltip]="'i18n.error.timestamp.ticketNumber' | translate"
								   class="ticket-number-link"
								   id="jira-ticket-link-btn-readonly"
								   mat-button
								   obButton="primary"
								   target="_blank">
									{{ row.ticketNumber }}
									<mat-icon class="arrow-icon">arrow_forward</mat-icon>
								</a>
							</div>
						</ng-container>
					</td>
				</ng-container>

				<ng-container matColumnDef="errorDetails">
					<th *matHeaderCellDef id="actions-column" mat-header-cell>
					</th>
					<td *matCellDef="let row" id="actions-row" mat-cell>
						<div class="actions-wrapper">
							<a mat-icon-button obButton="secondary"
							   [routerLink]="['/error-group-details', row.errorGroupId]"
							   [matTooltip]="'i18n.errorhandling.details' | translate">
								<mat-icon svgIcon="eye"></mat-icon>
							</a>
						</div>
					</td>
				</ng-container>

				<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
				<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
			</table>
		</div>
		<div class="paginator-container">
			<mat-paginator (page)="announcePaginatorChange()"
						   [length]="resultsLength"
						   [pageSizeOptions]="[5,10,20,50,100]"
						   [pageSize]="20"/>
		</div>
	</ng-container>
</ob-column-layout>
