<div class="reactivate-dead-letter-container">
	<ob-alert *ngIf="!isInProgress && isSuccessfull" type="success">{{ 'i18n.deadLetter.success-message' | translate }}</ob-alert>
	<ob-alert *ngIf="!isInProgress && !isSuccessfull && isSuccessfull !== null" type="error">{{ 'i18n.deadLetter.error-message' | translate }}</ob-alert>
	<div class="input-container">
		<span>{{ 'i18n.deadLetter.number-of-messages' | translate }}</span>
		<input type="number"
			   class="oblique-input"
			   matInput
			   [(ngModel)]="maxMessages"
			   [disabled]="isInProgress"
			   min="1"
			   max="500"
			   required
		/>
	</div>
	<button mat-flat-button color="primary" (click)="reactivateDeadLetter()" [disabled]="isInProgress">
		{{ 'i18n.deadLetter.reactivate' | translate }} {{ maxMessages }} {{ 'i18n.deadLetter.dead-letter-messages' | translate }}
	</button>
	<div *ngIf="isInProgress" class="progress-container">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</div>
</div>
